.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #eee;
  background-image: url(https://download.unsplash.com/photo-1416339698674-4f118dd3388b);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/*Generic helper classes*/

.no-margin{
  margin:0px !important;
}
.no-padding{
  padding: 0px !important;
}
.inline-block{
  display: inline-block!important;
}
.invalid-field{
  /*TODO*/
}
.valid-field{
  /*TODO*/
}
.main-panel{
  margin-top:100px;
  height: 100%;
}



/*Suport for catalog left filter*/
.color-grid label{
  margin:0px 5px 5px 0px;
  font-size: 8px;
  display: block !important;
  border-style: solid;
  border-width: 2px;
  border-color: #D3D3D3;
}
.color-grid label:hover{
  border-style: solid;
  border-width: 2px;
  border-color: #66CCFF;
}
.filter-container .btn.active, .filter-container .btn:active {
    border-style: solid!important;
    border-width: 2px!important;
    border-color: #66CCFF!important;
    background-image: none!important;
    outline: 0px none!important;
    box-shadow: 0px 0px 3px 1px #66CCFF !important;
}
.color-grid .btn.active, .color-grid .btn:active {
    border-style: solid!important;
    border-width: 2px!important;
    border-color: #66CCFF!important;
    background-image: none!important;
    outline: 0px none!important;
    box-shadow: 0px 0px 3px 1px #66CCFF !important;
}
.filter-container{
  width: 100%;
  margin-left:20px;
}

.stamp-category{
  padding :10px;
  border-bottom: dotted rgb(51,122,183);
}
.stamp-category span{
  font-size: 1.6em;
  padding-left: 0.3em;
  color:#138E57
}
.stamp-category:hover{
  cursor: pointer;
  background-color :#ADEBFF;
}

/*Stamp Gallery*/
.stamp-catalog{
  background-color: #EBEBEB !important;
}

/*masonry support*/
.masonry{
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
.masonry .grid-item{
   padding: 1px;
   border-radius: 6px;
   background-color: #FFF;
   display: inline-block;
   margin: 0 0 1em;
   width: 100%;
   padding: 0px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
}
.stamp-wrapper{
  height: 100% !important;
  padding: 0px;
  margin: 0px;
}
.grid-item .stamp-image-section img{
  max-width:100%;
  max-height:100%;
  border-radius: 6px 6px 0px 0px;
  display: block;
  margin:auto;
}

.grid-item .stamp-image-section {
  text-align: center;
  position: relative;
  vertical-align: top;
}

.stamp-hover-options{
  background: rgba(41, 128, 185, 0.7);
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 6px 6px 0px 0px;
  font-weight: bold;
}
.stamp-hover-options:hover{
  opacity: 1;

}
.stamp-it-button{
  display: inline-block;
  float:left;
}
.stamp-it-button a{
  color:#FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stamp-it-button a span{
  font-weight: bold
}
.like-box{
  display: inline-block;
  float:right;
}
.like-box i{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px
}

.stamp-hover-options .stamp-footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
}
.stamp-hover-options .stamp-footer .stamp-price{
  display: inline-block;
  font-size: 21px
}
.stamp-hover-options .stamp-footer .stamp-expand{
  background-color:rgba(255,0,0,0.6);
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  padding: 0px 6px 0px 6px;
  font-size: 21px;
  border-radius: 3px 0px 0px 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
.stamp-hover-options .stamp-footer .stamp-expand:hover{
  background-color:rgba(255,0,0,1);
  font-size: 23px;
  border-radius: 3px 0px 0px 0px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stamp-hover-options .stamp-price{
  clear: both;
}
.stamp-caption-section{
  border-top: solid rgba(0, 0, 0, 0.22) 1px;
}
.stamp-caption-section .info-section {
  margin: 9px 16px;
}
.stamp-author-info-section{
  padding: 9px 6px 0px 9px;
  border-top: solid rgba(0, 0, 0, 0.22) 1px;
  border-radius: 0px 0px 6px 6px;
  height:56px;
}
.stamp-author-info-section:hover{
  background: none repeat scroll 0% 0% #F1F1F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.stamp-author-info-section .author-image{
  float: left;
  width: 25% ;
  padding: 0px 9px 9px 0px;
}
.stamp-author-info-section .author-image img{
  max-height: 37px;
  max-width: 37px;
  border-radius: 50%
}
.stamp-author-info-section .author{
  float: left
}
.stamp-author-info-section a{
  text-decoration: none !important;
  color: #717171;
  text-decoration: none;
  display:block;
  width: 100%;
}
.author-name{
  color: #999;
}
.stamp-rating{
  color:#CCCCCC;
}

/*Custom adjustments*/

/*Remove spinnners from input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
#view-options .glyphicon{
    font-size: 23px;
} 
#searchbox .form-control{
  height: 41px !important;
  font-size: 23px;
  color:#000A51;
}
#view-options button{
  height: 41px !important;
  font-size: 16px;
}
#view-options> .panel-body> div > div{
  height: 41px;
}
.rating{
  color:#FFCC00;
}
.carousel-control:hover,.carousel-control{
  background-image:none !important;
}
.carousel-control{
  color:#000000 !important;
  margin-bottom: 5px!important;
}
.carousel-indicators li{
  border: 1px solid #337AB7!important;
}

.carousel-indicators .active{
  background-color:#337AB7 !important;
}
.carousel-indicators {
    bottom: 27px !important;
}
div.input{
  margin-bottom: 5px;
}

/*Responsive Stamps Gallery*/

@media screen  and (max-width: 650px){
  .masonry{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen  and (min-width: 651px) and (max-width:950px) {
  .masonry{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media screen  and (min-width: 950px) and (max-width:1200px) {
  .masonry{
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}
@media screen  and (min-width: 1200px){
  .masonry{
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
