
<div class="row">
	<!-- Login Form -->
	<div class="col-md-5 col-md-offset-1" >
		<div class="panel panel-body panel-primary col-md-7">
			<div ng-show="error" class="alert alert-danger">{{error}}</div>
			<form class="form-signin " name="loginForm" ng-submit="login(credentials)" method="POST">
			  	<h2 class="no-margin"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Iniciar Sesión</h2>
			    <h5 class="form-signin-heading">* Campos Obligatorios</h5>
			    <div class="input">
			    	<input type="text" name="email" id="inputEmail" class="form-control" ng-model="credentials.username" placeholder="Username*" required >
		        </div>
		        <div class="input">
		        	<input type="password" id="inputPassword" class="form-control"  ng-model="credentials.password"placeholder="Contraseña *" required>
		        </div>
		        <div class="text-right">
			    	<button class="btn btn-primary" type="submit">Iniciar Sesión Ahora</button>
			    	<br>
			      	<a href="">¿Has olvidado la contraseña?</a>
			    </div>
			</form>
		</div>
	</div>
	<!-- End login form -->
	<!-- Sign up form -->
	<div class="col-md-6">
		<div class="panel panel-body panel-primary col-md-10">
			<label ng-show="regErrorShow" class="alert alert-danger">{{regError}}</label>
			<label ng-show="regSuccessShow" class="alert alert-success">{{regSuccess}}</label>
			<form class="form-register" name="registerForm" ng-submit="register(dataUser)" method="POST">
			<h2 class="form-register-heading">Registrarse</h2>
	      	<h4 class="form-register-heading">Bienvenido a Stampy Colombia. Registrate y sé parte de nuestra tienda de moda online. (* Campos Obligatorios)</h4>
		  	<div class="col-md-12 no-padding">
		  		<div>
		  			<div class="input">
		      			<input type="userName" id="inputUser" class="form-control" ng-model="dataUser.username" placeholder="Usuario *" required autofocus>
		      		</div>
		      		<div class="input">
		      			<input type="nombre" id="inputNombre" class="form-control" ng-model="dataUser.name" placeholder="Nombre *" required autofocus>
		      		</div>
		      		<div class="input">
		      			<input type="apellido" id="inputApellido" class="form-control"  ng-model="dataUser.lastName" placeholder="Apellidos *" required autofocus>
		      		</div>
		      		<div class="input">
		      			<input type="email" id="inputEmail1" class="form-control"  ng-model="dataUser.email" placeholder="Correo Electrónico *" required autofocus>
		      		</div>
		      		<div class="input">
		      			<input type="password" id="inputPassword1" class="form-control" ng-model="dataUser.password" placeholder="Contraseña *" required>
		      		</div>
		      		<div class="input">
		      			<input type="password" id="inputConfPassword" class="form-control" ng-model="passwordConfirm" placeholder="Confirmar Contraseña *" required>
		      		</div>
				    
			      	<center>
		                  <select class="select" name="category" ng-model="dataUser.userType" ng-init="dataUser.userType='CLIENT'"> 
		                      <option value="CLIENT" selected>CLIENTE</option>
		                      <option value="ARTIST">ARTISTA</option>
		                    </select>
		            </center>        
		            <div class="text-right">
			      		<button class="btn btn-primary " type="submit">Crear Cuenta</button>
			      	</div>
		      	</div>  
		  	</div>    
			</form>
		</div>
	</div>
	<!-- End sing up form -->
</div>


