<br>
<div class="row" ng-show="payVisibility">
    <div class="col-md-6" >
    	<div class="panel panel-body panel-primary col-md-10">
        <!-- Formulario Pago -->
	        <center><h2>Método de Pago</h2></center>   
              <!-- Pago Tarjeta Crédito -->
         	<button class ="btn botonpay1 btn-primary" ng-click="ShowForm1()"> 
          	<i class="fa fa-credit-card"></i> Tarjeta de Crédito <i class="fa fa-cc-amex"></i> <i class="fa fa-cc-mastercard"></i> <i class="fa fa-cc-visa"></i> </button>
              
            <form ng-show="formVisibility1" class="form-pay" name="payForm" ng-submit="pay(dataPay)" method="POST">      
                <h3 class="form-pay-heading">Detalles del Pago</h3>
                <br>
                <label for="inputTT" class="label-pay">Tipo de Tarjeta de Crédito *</label>
                <br>
                <select type="tipoTar" id="inputTT" class="btn form-control" ng-model="dataPay.type" ng-init="datapay.type='CREDIT_CARD'" required autofocus> 
                      <option value="CREDIT_CARD">VISA</option>
                      <option value="CREDIT_CARD">MASTERCARD</option>
                      <option value="CREDIT_CARD">AMEX</option>
                </select>
                <br>

                <label for="inputNT" class="label-pay">Número de Tarjeta de Crédito *</label>
                <input type="number" id="inputNT" class="form-control" required autofocus>

                <label for="inputNombre" class="label-pay">Nombre y Apellidos *</label>
                <input type="nombre" id="inputNombre" class="form-control"  required>

                <label for="inputFE" class="label-pay">Fecha Expiración *</label>
                <div class="form-inline">
                  <select type="fechaExp" id="inputFE" class="form-control"  required> 
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                      <option>2028</option>
                </select>
                <select type="fechaExp" id="inputFE" class="form-control"  required> 
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                      <option>06</option>
                      <option>07</option>
                      <option>08</option>
                      <option>09</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                </select>
                </div>

                <label for="inputNC" class="label-pay">Número de Cuotas *</label>
                <select type="nroCuota" id="inputNC" class="form-control"  required> 
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                      <option>06</option>
                      <option>07</option>
                      <option>08</option>
                      <option>09</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                </select>

                <label for="inputCS" class="label-pay">Código Seguridad *</label>
                <input type="number" id="inputCS" class="form-control"  required>
               	<br>

                <center><button class="botonpay btn btn-lg btn-success btn-block" type="submit">Pagar ${{getTotal() | number:0}}</button></center>
            </form>
            <br>
            <br>

          	<!-- Pago PSE -->
            <button class ="btn botonpay1 btn-primary" ng-click="ShowForm2()"> 
          		Pago PSE <img src="img/pay/pse.jpg" WIDTH=34 HEIGHT=36 alt=""> </button>
            <br>
            <form ng-show="formVisibility2" class="form-pay" name="payForm2" ng-submit="pay(dataPay)" method="POST">        
                <label for="inputBanco" class="label-pay">ID Banco *</label>
                <select type="banco" id="inputBanco" class="form-control" ng-model="dataPay.type" ng-init="datapay.type='PSE'" required> 
                      <option value="PSE">BANCO AV VILLAS</option>
                      <option value="PSE">BANCO CAJA SOCIAL</option>
                      <option value="PSE">BANCO COLPATRIA</option>
                      <option value="PSE">BANCO DAVIVIENDA</option>
                      <option value="PSE">BANCO DE BOGOTÁ</option>
                      <option value="PSE">BANCO DE OCCIDENTE</option>
                      <option value="PSE">BANCOLOMBIA</option>
                </select>

                <label for="inputTCli" class="label-pay">Tipo de Cliente *</label>
                <select type="tipoCliente" id="inputTCli" class="form-control"  required> 
                      <option>Persona Natural</option>
                      <option>Persona Jurídica</option>
                </select>

                <label for="inputTid" class="label-pay">Tipo de Identificación *</label>
                <select type="tipoID" id="inputTid" class="form-control"  required> 
                      <option>CC</option>
                      <option>CE</option>
                      <option>PASSPORT</option>
                </select>

                <label for="inputNid" class="label-pay">Número de Identificación *</label>
                <input type="number" id="inputNid" class="form-control" required autofocus>

                <label for="inputClave" class="label-pay">Clave *</label>
                <input type="pass" id="inputClave" class="form-control" required autofocus>
                <br>

                <center><button class="botonpay btn btn-lg btn-success btn-block" type="submit">Pagar ${{getTotal() | number:0}}</button></center>
          	</form>
          	<br>
	             
	              	<!-- Pago Contra Entrega -->
            <button class ="btn botonpay1 btn-primary" ng-click="ShowForm3()"> 
              	Pago Contra Entrega <i class="fa fa-truck"></i> </button>
            <br>
            
            <form ng-show="formVisibility3" class="form-pay" name="payForm3" ng-submit="pay(dataPay)" method="POST"> 
            <label for="inputDir" class="label-pay">Dirección Entrega *</label>
            <input type="direccion" id="inputDir" class="form-control" required autofocus>
            <label for="inputCiu" class="label-pay">Ciudad Entrega *</label>
                <select type="ciudad" id="inputCiu" class="form-control"  ng-model="dataPay.type" ng-init="datapay.type='CASH_ON_DELIVERY'" required> 
                      <option value="CASH_ON_DELIVERY">Barranquilla</option>
                      <option value="CASH_ON_DELIVERY">Bogotá</option>
                      <option value="CASH_ON_DELIVERY">Manizales</option>
                      <option value="CASH_ON_DELIVERY">Medellin</option>
                      <option value="CASH_ON_DELIVERY">Pereira</option>
                </select>

            <br>  
        		<center><button class="botonpay btn btn-lg btn-success btn-block" type="submit">Continuar</button></center>
      		</form> 

    	</div>  
    </div>  

    <!-- Detalle Carrito de Compras -->
    <div class="col-md-6">
      	<div class="wrapper1 col-md-11">
            <center><h2>Resumen Pedido</h2></center>
            <div class="wrapper2">
                <div ng-show="nroProdsCart">
                  <br>
                  <center><h5 >No ha agregado productos a su carrito de compras.</h5></center>
                  <br>
                </div>
              	<div class= "row" ng-repeat="product in products">
	                <div class=" listprod col-md-2">
	                  	<img ng-src="{{product.url}}" WIDTH=79 HEIGHT=85>
	                </div>

	                <div class="listprod col-md-9">
	                    <label class="prod">{{product.text}}</label>
                    	<div class="row">
	                      	<div class="col-md-3">
	                        	<label class="prod">Color :</label> 
	                        	<label class="prod">Talla :</label> 
	                      	</div> 
	                      	<div class="col-md-3">
                        		<label class="desprod">{{product.color}}</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        <label class="desprod">{{product.size}}</label> 
	                      	</div> 
	                      	<div class="col-md-3">
		                        <label class="prod">Cantidad:</label> 
		                        <label class="prod">Valor:</label>  
	                      	</div>
	                      	<div class="col-md-3">
		                        <label class="desprod">1</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        <label class="desprod">$ {{(product.price) | number:0}}</label> 
	                      	</div> 
	                    </div>
	                </div>
              	</div>
            </div>
            
            <center><h2>Costo Pedido </h2></center>
            <div class="wrapper2">
              	<div class= "row " >
                	<div class="col-md-5 col-md-offset-1">
                 		<!--  <label class="prod"><h4>Total Productos:</h4></label> -->
                  		<label class="prod"><h4>Valor Total Productos:</h4></label> 
                	</div>
                	<div class="col-md-4 col-md-offset-1">
                  		<!-- <label class="prod"><h4>  {{getCantidad()}}</h4></label> <br> -->
                  		<label class="prod"><h4>$ {{getTotal() | number:0}}</h4></label> 
                	</div>
              	</div>
          	</div>
          	<br>
		</div>
    </div>
</div>

<div class="row" ng-show="APPROVEDShow">
    <div class="col-md-6 col-md-offset-3" >
      <div class="panel panel-body panel-primary">
        <!-- Formulario Pago -->
          <center><h2>Datos Transacción</h2></center>   
              <!-- Pago Tarjeta Crédito -->
          <h4>Su transacción fue realizada exitosamente.</h4>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label class="prod">Estado Transacción:</label>
              <br>
              <label class="prod">Número de Pedido:</label>
              <br>
              <label class="prod">Valor:</label>
              <br>
            </div> 
            <div class="col-md-6">
              <label class="desprod">{{responsePay.status}}</label>
              <br>
              <label class="desprod">{{dataPay.cartId}}</label>
              <br>
              <label class="desprod">$ {{responsePay.price | number:0}}</label>
              <br>
            </div>
          </div>
          <center><button class="botonpay btn btn-lg btn-success btn-block" ng-click="terminar()">Terminar</button></center> 
      </div>  
    </div>  
</div>

<div class="row" ng-show="REJECTEDShow">
    <div class="col-md-6 col-md-offset-3" >
      <div class="panel panel-body panel-primary">
        <!-- Formulario Pago -->
          <center><h2>Transacción Rechazada</h2></center>   
              <!-- Pago Tarjeta Crédito -->
          <h4>Por favor revise sus datos de compra o intente más tarde.</h4>
          <center><button class="botonpay btn btn-lg btn-success btn-block" ng-click="regresar()">Regresar</button></center>            
      </div>  
    </div>  
</div>

<div class="row" ng-show="DELIVERYShow">
    <div class="col-md-6 col-md-offset-3" >
      <div class="panel panel-body panel-primary">
        <!-- Formulario Pago -->
          <center><h2>Datos Pago Contra Entrega</h2></center>   
              <!-- Pago Tarjeta Crédito -->
          <h4>Su pedido fue registrado exitosamente, en breve nos comunicaremos con usted.</h4>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label class="prod">Estado Transacción:</label>
              <br>
              <label class="prod">Número de Pedido:</label>
              <br>
              <label class="prod">Valor:</label>
              <br>
            </div> 
            <div class="col-md-6">
              <label class="desprod">{{responsePay.status}}</label>
              <br>
              <label class="desprod">{{dataPay.cartId}}</label>
              <br>
              <label class="desprod">$ {{responsePay.price | number:0}}</label>
              <br>
            </div>
          </div>
          <center><button class="botonpay btn btn-lg btn-success btn-block" ng-click="terminar()">Terminar</button></center> 
      </div>  
    </div>  
</div>
