<div class="col-md-12">
  <div class="panel panel-body panel-primary col-md-10" style="width:500px;">
    <label ng-show="regErrorShow" class="alert alert-danger">{{regError}}</label>
	<label ng-show="regSuccessShow" class="alert alert-success">{{regSuccess}}</label>
	<form class="form-register" name="registerForm" ng-submit="update()" method="POST">
	  <h2 class="form-register-heading">{{dataUser.name}} {{dataUser.lastName}}</h2>
	  <h4 class="form-register-heading">(* Campos Obligatorios)</h4>
	  <div class="col-md-12 no-padding">
	    <div>
	      <div class="input">
		    <input type="hidden" id="inputUser" class="form-control" ng-model="dataUser.username" placeholder="Usuario *" required autofocus>
          </div>
          <div class="input">
  		    <input type="password" id="inputOldPassword" class="form-control" ng-model="oldPassword" placeholder="Antigüa Contraseña *" required>
  		  </div>
          <div class="input">
		    <input type="password" id="inputNewPassword" class="form-control" ng-model="newPassword" placeholder="Nueva Contraseña *" required>
		  </div>
		  <div class="input">
		    <input type="password" id="inputConfPassword" class="form-control" ng-model="newPasswordConfirm" placeholder="Confirmar Contraseña *" required>
		  </div>
		  <div class="text-right">
		    <button class="btn btn-primary " type="submit">Actualizar contraseña</button>
		  </div>
	    </div>  
	  </div>    
    </form>
  </div>
</div>
